    // === variables ===
$white: #FFFFFF;
$green: #94BC5F;
$blue: #4D7AA1;
$gray:#808080;
$h1-size:3em;
$header:'Fjalla One', sans-serif;
$para-text:'Open Sans Condensed', sans-serif;

    // === === ===

    #wrapper{
        border:solid red 4px;
        background-color: yellow;

        padding: 0 !important;
        margin: 0 !important;

    }


body{
    margin: 0;
    padding: 0;
}

a:focus {
    outline: none !important;
}


h1{

}
p{
    font-family: $para-text;
}
#wrapper{
    padding: 0;
    margin: 0;
    font-family: $para-text;
}
span.icon-bar{
    background-color:$blue;
}
#nav_wrapper{
    padding: 0;
}
#mainNavBar{
    background-color:rgba(0, 0, 0, 0.7);
    padding: .5em;
    width: 100%;
    // max-height: 4em;
    i{
        color: white;
        margin: .3em;
    }
}
.navbar-brand{
    img{
        margin-left: 2em;
    }
}

 // === animation style start ===

 #mainLeft{
 	position: absolute;
 	margin-left: -50%;
 	background-color: $blue;
 	width: 100%;
 	height: 100vmin;

    z-index: 100;
}

 #mainRight{
 	position: absolute;
 	background-color:$blue;
 	margin-left:50%;
 	width: 100%;
 	height: 100vh;

 	z-index: 100;
}

 // === animation style end ===

#landing_page .row{
    height: 100vh;
    background-color: $blue;
    padding: 0;
    overflow-x: hidden;


    img{
        width: 70%;
        margin-top: 15%;
        display: none;

    }
    h1{
        font-family: $header;
        color: white;
        display: none;
    }
}



#sec_1{
    margin-top:8em;
    width: 100%;
    background-color: darkgreen;
#about{
    margin-top: 1em;
}

    h1{
        font-family: 'Fjalla One', sans-serif;
        font-size: 3em;
        color: $blue;
        margin: 0;
        margin-bottom: .3em;
    }
    h2{
        font-family: 'Fjalla One', sans-serif;
        color: $white   ;
    }
    img{

    }
    p{
        font-family: $para-text;
        color: $gray;
        font-size: 1.3em;
        line-height: 1.3em;
    }

}

#sec_2{
    padding: 4em;

    a{
        text-decoration: none;
    }
    a:visited{
        text-decoration: none;
        border: none;
    }


    h1{
        font-family: 'Fjalla One', sans-serif;
        font-size: 3em;
        color: $blue;
        margin-left: 0;

    }
    h2{
        font-family: 'Fjalla One', sans-serif;
        color: $green;
    }
    p{
        font-family: $para-text;
        color: $gray;
        font-size: 1.2em;
    }

}

#sec_3{
    padding: 0;
    padding-bottom: 3em;

    h1{
        font-family: 'Fjalla One', sans-serif;
        font-size: 3em;
        margin-left: .7em;
        color: $white;

    }
    h2{
        font-family: 'Fjalla One', sans-serif;
    }

    #main{
        background-color:$blue;
        padding: 2em;
        margin-left: 0;
        margin-right: 0;


        p{
            color: $white;
            font-family: $para-text;
            font-size: 1.5em;
        }
        img{
            border: solid white 10px;
        }

        h2{
            color: $green;
        }
        h4{
            color: $green;
            font-family: $header;
        }
        ol{
            color:$white;
            font-family: $para-text;
            font-size: 1em;
        }

    }

    #product{
        margin-top: 3em;

        img{
            margin-left: 0px;
            margin-right: 0px;
        }
        h4{
            font-family: 'Fjalla One', sans-serif;
            color: $gray;
        }

        }
        #information{
            h2{
                color: $blue;

            }
            h4{
                font-family:'Open Sans Condensed', sans-serif;
                color: $gray;
            }
            p{
                font-family: $para-text;
                color: $gray;
                font-size: 1.5em;
                line-height: 1.3em;
            }
        }
    }

    #sec_4{
        padding: 2em;
        margin: 0;
        background-color:$gray;


        .grid{
            padding: 0;
        }
        p{
            font-family:$para-text;
            font-size: 1.5em;
            line-height: 1.3em;
            color: $white;
        }
        h1{
            font-family: $header;
            color: $white;
        }

        ul{
            font-family: $para-text;
            font-size: 1.1em;
            list-style-type:disc;
            color: $white;
        }
    }


.footer{
    background-color: $gray;
    p{
        color: white;
    }
}

// ============== MODAL STYLE ==============
.modal-admin{
    margin: auto;
    width: 50%;
    height: 15%;

}

#dogModal{
.modal-content{
    margin-top: 5em;
}
    // background-color: khaki;
    h2{
        font-family: $header;
        color: $green;
    }
    img{
        height: 100%;
    }

}
.modal-body{


    p{
        font-family: $para-text;
        color: $gray;
    }
    border-top: none;

    #row_1{
        // background-color: coral;
    }

    h3{
        color: $blue;
        font-family: $header;

    }
}

// ============== END OF MODAL STYLE ==============
