body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

#wrapper {
  padding: 0;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif; }

span.icon-bar {
  background-color: #4D7AA1; }

#nav_wrapper {
  padding: 0; }

#mainNavBar {
  background-color: rgba(0, 0, 0, 0.7);
  padding: .5em;
  width: 100%;
  max-height: 4em; }
  #mainNavBar i {
    color: white;
    margin: .3em; }

.navbar-brand img {
  margin-left: 2em; }

.icon-bar {
  color: green; }

#sec_1 {
  padding: 2em;
  margin-top: 4em; }
  #sec_1 h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;
    color: #4D7AA1;
    margin: 0;
    margin-bottom: .3em; }
  #sec_1 h2 {
    font-family: 'Fjalla One', sans-serif;
    color: #FFFFFF; }
  #sec_1 p {
    font-family: "Open Sans Condensed", sans-serif;
    color: #808080;
    font-size: 1.3em;
    line-height: 1.3em; }

#sec_2 {
  padding: 4em; }
  #sec_2 a {
    text-decoration: none; }
  #sec_2 h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;
    color: #4D7AA1;
    margin-left: 0; }
  #sec_2 h2 {
    font-family: 'Fjalla One', sans-serif;
    color: #94BC5F; }
  #sec_2 p {
    font-family: "Open Sans Condensed", sans-serif;
    color: #808080;
    font-size: 1.2em; }

#sec_3 {
  padding: 0;
  padding-bottom: 3em; }
  #sec_3 h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;
    margin-left: .7em;
    color: #FFFFFF; }
  #sec_3 h2 {
    font-family: 'Fjalla One', sans-serif; }
  #sec_3 #main {
    background-color: #4D7AA1;
    padding: 2em;
    margin-left: 0;
    margin-right: 0; }
    #sec_3 #main p {
      color: #FFFFFF;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 1.5em; }
    #sec_3 #main img {
      border: solid white 10px; }
    #sec_3 #main h2 {
      color: #94BC5F; }
    #sec_3 #main h4 {
      color: #94BC5F;
      font-family: "Fjalla One", sans-serif; }
    #sec_3 #main ol {
      color: #FFFFFF;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 1em; }
  #sec_3 #product {
    margin-top: 3em; }
    #sec_3 #product img {
      margin-left: 0px;
      margin-right: 0px; }
    #sec_3 #product h4 {
      font-family: 'Fjalla One', sans-serif;
      color: #808080; }
  #sec_3 #information h2 {
    color: #4D7AA1; }
  #sec_3 #information h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #808080; }
  #sec_3 #information p {
    font-family: "Open Sans Condensed", sans-serif;
    color: #808080;
    font-size: 1.5em;
    line-height: 1.3em; }

#sec_4 {
  padding: 2em;
  margin: 0; }
  #sec_4 .grid {
    padding: 0; }
  #sec_4 p {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.5em;
    line-height: 1.3em;
    color: #FFFFFF; }
  #sec_4 h1 {
    font-family: "Fjalla One", sans-serif;
    color: #FFFFFF; }
  #sec_4 ul {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.1em;
    list-style-type: disc;
    color: #FFFFFF; }

#slide2 {
  background-color: #94BC5F;
  padding: 3em;
  z-index: 100; }

.border {
  border: solid salmon 5px; }
