div.container-fluid {
  padding: 0;
  overflow: hidden; }

#wrapper {
  border: solid red 4px;
  background-color: yellow;
  padding: 0 !important;
  margin: 0 !important; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 0; }

a:focus {
  outline: none !important; }

p {
  font-family: "Open Sans Condensed", sans-serif; }

#wrapper {
  padding: 0;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif; }

span.icon-bar {
  background-color: #4D7AA1; }

#nav_wrapper {
  padding: 0; }

#mainNavBar {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%; }
  #mainNavBar i {
    color: white;
    margin: 0.3em; }
  #mainNavBar button#checkout_button {
    border: none;
    background-color: none;
    background: transparent; }
  #mainNavBar #cart_link {
    background: transparent; }

.navbar-brand img {
  margin-left: 2em; }

#mainLeft {
  position: absolute;
  margin-left: -50%;
  background-color: #4D7AA1;
  width: 100%;
  height: 100vmin;
  z-index: 100; }

#mainRight {
  position: absolute;
  background-color: coral;
  margin-left: 50%;
  width: 100%;
  height: 100vh;
  z-index: 100; }

#landing_page.row h1 {
  font-family: "Fjalla One", sans-serif;
  color: white;
  font-size: 4.3em;
  z-index: 10; }

#lp_row {
  margin: 0; }

#landing_page2 {
  background-image: url("../images/dark_lab.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0; }
  #landing_page2 h1 {
    color: #4D7AA1;
    margin-top: 40%;
    margin-left: 5%;
    font-family: "Fjalla One", sans-serif;
    font-size: 5em;
    position: absolute;
    bottom: 0.5em; }

#sec_1 {
  width: 100%; }
  #sec_1 #dogbath {
    background-color: yellow; }
  #sec_1 #mainLogo {
    margin-top: 3.5em; }
  #sec_1 #about {
    margin-top: 3em; }
  #sec_1 h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;
    color: #4D7AA1;
    margin: 0 0 0.3em; }
  #sec_1 h2 {
    font-family: 'Fjalla One', sans-serif;
    color: #FFFFFF; }
  #sec_1 img {
    padding: 4em; }
  #sec_1 p {
    font-family: "Open Sans Condensed", sans-serif;
    color: #808080;
    font-size: 1.3em;
    line-height: 1.3em; }

#product_lightbox {
  height: 65%;
  overflow: hidden;
  bottom: 75%;
  left: 10%; }

.slick-slide {
  height: 50%;
  overflow: hidden;
  margin-top: 2em;
  margin-bottom: -12em; }

#sec_2 {
  padding: 4em; }
  #sec_2 a {
    text-decoration: none; }
  #sec_2 a:visited {
    text-decoration: none;
    border: none; }
  #sec_2 h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;
    color: #4D7AA1;
    margin-left: 0.7em; }
  #sec_2 h2 {
    font-family: 'Fjalla One', sans-serif;
    color: #94BC5F; }
  #sec_2 p {
    font-family: "Open Sans Condensed", sans-serif;
    color: #808080;
    font-size: 1.2em; }

#sec_2A {
  padding: 4em; }
  #sec_2A a {
    text-decoration: none; }
  #sec_2A h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;
    color: #4D7AA1;
    margin-left: 0.7em; }
  #sec_2A h2 {
    font-family: "Fjalla One", sans-serif;
    color: #94BC5F; }
  #sec_2A p {
    font-family: "Open Sans Condensed", sans-serif;
    color: #808080;
    font-size: 1.2em; }

#sec_3 {
  padding: 0 0 3em; }
  #sec_3 h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;
    margin-left: 0.7em;
    color: #FFFFFF; }
  #sec_3 h2 {
    font-family: 'Fjalla One', sans-serif; }
  #sec_3 #main {
    background-color: #4D7AA1;
    padding: 2em;
    margin-left: 0;
    margin-right: 0; }
    #sec_3 #main p {
      color: #FFFFFF;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 1.5em; }
    #sec_3 #main h2 {
      color: #94BC5F; }
    #sec_3 #main h4 {
      color: #94BC5F;
      font-family: "Fjalla One", sans-serif; }
    #sec_3 #main ol {
      color: #FFFFFF;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 1em; }
  #sec_3 #product {
    margin-top: 3em; }
    #sec_3 #product button {
      border-radius: 1em;
      background-color: transparent;
      margin-top: 0.5em;
      border: 1px solid #4D7AA1; }
    #sec_3 #product h1 {
      margin-left: 0.7em; }
    #sec_3 #product img {
      margin-left: 0;
      margin-right: 0; }
    #sec_3 #product h4 {
      font-family: 'Fjalla One', sans-serif;
      color: #808080; }
    #sec_3 #product h5 {
      font-family: "Open Sans Condensed", sans-serif;
      color: #4D7AA1;
      font-size: 1.5em; }
  #sec_3 #information h2 {
    color: #4D7AA1; }
  #sec_3 #information h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #808080; }
  #sec_3 #information p {
    font-family: "Open Sans Condensed", sans-serif;
    color: #808080;
    font-size: 1.5em;
    line-height: 1.3em; }

#sec_4 {
  padding: 2em;
  margin: 0;
  background-color: #808080; }
  #sec_4 .grid {
    padding: 0; }
  #sec_4 p {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.5em;
    line-height: 1.3em;
    color: #FFFFFF; }
  #sec_4 h1 {
    font-family: "Fjalla One", sans-serif;
    color: #FFFFFF;
    margin-left: 0.7em; }
  #sec_4 ul {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.1em;
    list-style-type: disc;
    color: #FFFFFF; }

#sec_5 {
  margin-left: 3em;
  margin-right: 3em; }
  #sec_5 h1 {
    font-family: "Fjalla One", sans-serif;
    color: #4D7AA1;
    margin-left: 0.7em; }
  #sec_5 .container-fluid {
    padding-right: 3%;
    height: 40%; }
  #sec_5 img {
    margin: 0.5em; }

#contact_form {
  margin-left: 25%;
  margin-top: 2em;
  color: #4D7AA1; }
  #contact_form h1 {
    font-family: "Fjalla One", sans-serif;
    color: #4D7AA1; }
  #contact_form p {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 0.5em; }
  #contact_form input[placeholder][name] {
    font-family: "Open Sans Condensed", sans-serif;
    color: #4D7AA1; }
  #contact_form button {
    font-family: "Open Sans Condensed", sans-serif;
    color: #808080; }
  #contact_form button#contact_button {
    color: #4D7AA1;
    background-color: green; }
  #contact_form label {
    font-family: "Open Sans Condensed", sans-serif; }

#footer p {
  color: #4D7AA1;
  margin: auto auto 1em; }

.modal-admin {
  margin: auto;
  width: 50%;
  height: 15%; }

#dogModal .modal-content {
  margin-top: 5em; }

#dogModal h2 {
  font-family: "Fjalla One", sans-serif;
  color: #94BC5F; }

#dogModal img {
  height: 100%; }

.modal-body {
  border-top: none; }
  .modal-body p {
    font-family: "Open Sans Condensed", sans-serif;
    color: #808080; }
  .modal-body h3 {
    color: #4D7AA1;
    font-family: "Fjalla One", sans-serif; }
  .modal-body h4 {
    font-family: "Open Sans Condensed", sans-serif;
    color: #808080; }
