
body{
    margin: 3em;
    background-color: green;
    border: solid cyan 10px;
}

.container-fluid{
    padding:3em;
    margin: 0;
    background-color: yellow;

    ul{
        list-style-type: none;
    }
}
